/*This style sheet will contain all the styling for the landing page as well as the header sections of this website. I will use a mobile first approach to design.*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
} 
body
{
  background: #f1f5f7;
    position: relative;
}

h2
{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
p
{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

/*header Page styling*/

.top
{
     background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)) ,url(images/boatsonlake1.jpg);
    background-size: cover;
    background-position: center;
    height: 55vh;
    width: 100%;
}
.nav-bar
{
    
    width: 100%;
    background: #15133b;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Gide top most header section on small screens*/
.top-KCBServices
{
    display: none;
}


/*styling for the normalpage now starts*/

.nav-bar p
{
    color: #fff;
    padding: 5px;
    margin-left: 20px;
    font-weight: bold;
}
.nav-bar p span
{
    background: #84bd00;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    font-weight: bolder;
}
.nav-bar-socials
{
    margin-right: 20px;
}
.socisl-icons
{
    font-size: 23px;
    color: #fff;
    margin-right: 19px;
}

/*the landing page heading*/

.top-heading
{
   margin: 60px 25px 40px 25px; 
}
.top-heading h2
{
   color: #fff;
    text-align: center;
}

/*Countries flags styling*/
.nav-bar-EAFlags
{
    display: none;
}
/*main nav bar links */
.nav-mainBar
{
    display: none;
}
/*top lower green block*/
.top-lowerblock
{
    display: none;
}




/*watch play link now*/

.top-watch-link
{
    margin: 40px 25px 40px 25px;
}
.top-watch-link p
{
    width: 100%;
    color: #fff;
    text-align: left;
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    background: #84bd00;
    position: relative;
}
.top-watch-link a
{
    position: absolute;
    right: -4%;
    top: -2%;
    text-align: center;
}
.top-watch-link  i
{
    font-size: 53px;
    color: #fff;
}

/*The why work with us section*/

.why-work-with-kcb
{
    width: 100%;
}
.why-work-with-kcb-wrap
{
    padding: 30px 20px 30px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4px;
    /*box-shadow: -1px -1px 15px 2px rgba(192,181,181,1);*/
}
.why-work-with-kcb-wrap .reasons
{
    background: #fff;
    padding: 12px;
}
.why-work-with-kcb-wrap .reasons:hover
{
    background: #d5d9db;
}
.why-work-with-kcb-wrap .reasons i
{
    display: block;
    font-size: 25px;
    margin: 20px 20px 10px 20px;
    text-align: center;
    opacity: .7;
}

.why-work-with-kcb-wrap .reasons a
{
    display: block;
    text-decoration: none;
    color: #84bd00;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
}
.why-work-with-kcb-wrap .reasons a:hover
{
    color: #3285a8;
}

/*Select bank category section */
.kcb-bank-category
{
    margin: 25px 20px 25px 20px;
}
.bank-category label
{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin: 10px 0 10px 0;
    padding-bottom: 10px;
    text-align: left;
}

.bank-category select
{
    width: 100%;
    color: #84bd00;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    margin-top: 20px;
    border: 2px solid #84bd00;
    
}
.bank-category select option
{
    color: #84bd00;
}

/*The bank financing categories */
.financing-categories
{
    margin: 25px 0 25px 0;
}
.financing-categories
{
    
}
.financing-categories-visuals
{
    margin: 30px 0 0 0;
    background: #fff;
}
.financing-categories-visuals img
{
    max-width: 100%;
}
.financing-categories-visuals h2
{
    margin: 15px 17px 15px 17px;
    color: #83bd00;
}
.financing-categories-visuals p
{
    margin: 15px 17px 15px 17px;
    font-weight: bold;
    padding-bottom: 20px;
}
.financing-categories-links
{
    margin: 0 0 30px 0;
    padding-bottom: 20px;
}
.financing-categories-links a
{
    width: 100%;
    padding: 17px;
    background: #83bd00;
    color: #fff;  
    text-decoration: none;
}
.financing-categories-links a:hover
{
    background: #15133b; 
}
.financing-categories-links i
{
    margin: 0 15px 0 45px; 
    font-size: 20px;
}








/*responsive design now */

@media screen and (min-width: 73em )
{
    /**styling for the top most navigation bar that is only visible on bigger screens*/
    
    .top-KCBServices
    {
        display: block;
        background: #000;
        width: 100%;
        text-align: center;
    }
    .top-KCBServices ul 
    {
        padding: 12px;
        margin: 0 30px 0 30px;
    }
    .top-KCBServices ul  li
    {
        display: inline-block;
        margin-right: 17px;
        list-style: none;
    }
    .top-KCBServices ul  li a
    {
        color: #fff;
        font-size: 15px;
        text-decoration: none;
    }
    .top-KCBServices ul  li a:hover
    {
        color: #84bd00;
    }
    /*style the topmost specific links*/
    .sahl
    {
        background: #0c6c63;
        padding: 12px;
        border-radius: 9px;
    }
    .internetB
    {
        background: #2dccd3;
        padding: 12px;
        border-radius: 9px;
    }
    .vooma
    {
        background: #891755;
        padding: 12px;
        border-radius: 9px;
    }
    .buni
    {
        background: #ff9e1b;
        padding: 12px;
        border-radius: 9px;
    }
    
    /*main nav bar styling*/
    .nav-bar p
    {
        font-size: 22px;
    }
    .nav-bar p span
    {
        font-size: 24px;
        padding: 14px;
    }
    .nav-mainBar
    {
        display: block; 
    }
    .nav-mainBar ul li
    {
        display: inline-block;
        list-style: none;
        margin-left: 20px;
    }
    .nav-mainBar ul li a
    {
       text-decoration: none;
        color: #fff;
        font-size: 16px;
    }
    .nav-mainBar ul li a:hover
    {
        color: #94bd00;
    }
    
    /*hide the hambager menu*/
    #bars
    {
        display: none;
    }
    
    /*show the lower block navbar green section*/
    .top-lowerblock
    {
        display: block;
        width: 100%;
        background: #94bd00;
        margin-left: 70px;
        height: 50px;
    }
    
    /*now lets make the bg photo 80+vh of the big screen*/

    .top
    {
        background-size: cover;
        background-position: center;
        height: 90vh;
        max-width: 100%;
    }
    .top-heading h2
    {
        text-align: left;
        font-size: 49px;
        margin: 65px 290px 30px 50px;
    }
    .top-watch-link p
    {
       margin: 65px 290px 30px 50px;
        width: 20%;
        font-size: 20px;
    }
    .top-watch-link p:hover
    {
        background: #15133b;
    }
    
    /*now we'll make the why work with us grid section to display as inline blocks*/
    .why-work-with-kcb-wrap
    {
        display: flex;
        margin: -76px 50px 40px 60px;
    }
    .why-work-with-kcb-wrap .reasons
    {
        flex: 1;
    }
    .why-work-with-kcb-wrap .reasons i
    {
        font-size: 30px;
        padding: 10px;
    }
    .why-work-with-kcb-wrap .reasons a
    {
        font-size: 16px;
    }
    
    
    /*make the kcb bank financing category items grid items*/
    
    .financing-categories
    {
        display: flex;
    }
    
    
    
    
}


















