/*This style sheet will contain all the styling for the landing page as well as the header sections of this website. I will use a mobile first approach to design.*/

/*General page styling*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2
{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
p
{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

/*Main Body styling*/





































