/*This stylesheet willcontain all the styling for the Advantage banking section markup. I will take a mobile first approach to design*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
} 
body
{
  background: #f1f5f7;
    position: relative;
}

h2
{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
p
{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}








































